<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Import할 CSS 파일 (경로 주의) -->
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"
          rel="stylesheet">
    <link th:href="@{/css/integrated-css.css}"
          href="../static/css/integrated-css.css"
          rel="stylesheet">
    <title>리뷰 검색</title>
    <style>
        div.paging {
            display: flex;
            align-items: center; /* 수직 정렬 */
            flex-direction: row; /* default: row */
            justify-content: center; /* flex direction에 대해서 정렬방식 선택 */
        }
    </style>
</head>

<body>

<header class="container" style="margin: 20px auto;">
    <div class="row row-cols-auto">
        <div class="col">
            <a th:href="@{/}">
                <img src = "../../static/images/logo.jpeg" th:src="@{/images/logo.jpeg}" width="300">
            </a>
        </div>
    </div>
    </div>
</header>

<div class="container">
    <div class="app">
        <h1></h1>
            <ul>
                <li>
                    <a class="btn btn-lg btn-secondary m-2" href="/reviews/search">리뷰 목록</a>
                </li>
                <li>
                    <a class="btn btn-lg btn-secondary m-2" href="/crawling/search">수동 크롤링</a>
                </li>
            </ul>
    </div>
</div>

</body>
</html>

